body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #BBDEF0;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
  padding-top: 5%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 5px;
}

a{
  text-decoration: none;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
}

/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #BBDEF0;
    text-decoration: none;
}

/*background color for each page */
.backgroundColor{
  background-color: #272932;
}

.infoMargin{
  margin: 3% 0;
}

/* login page margins and font color */
.loginStyle{
  color: #BBDEF0;
}

.form{
  color: #BBDEF0;
}

.header{
  color: #BBDEF0;
  padding: 0 0 3% 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.locationLabel h3{
  padding-top: 10px;
  margin-bottom: 0;
}

.buttonMain{
  margin: 10% auto;
  color: #272932;
  width: 20em;
}

/* Home Label Box */
.box {
  margin: 5% 0;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0; }

.box-banner {
  color: #BBDEF0;
  padding: 4% 0 2% 0;
  border-bottom: 2px solid white;
}

.box-default{
  color: #272932;
  padding: 4% 2%;
  border: 2px solid #BBDEF0;
  background-color: #BBDEF0;
}

.box-location{
  padding: 15% 4%;
  margin: 4% 0 0 0;
  color: #272932;
  text-align: center;
  border: 2px solid #BBDEF0;
  background-color: #BBDEF0;
}

.box-chore{
  padding: 4% 0;
  margin: 3% 0;
  color: #BBDEF0;
  border: 2px solid #BBDEF0;
  background-color: #272932;
}

.smallBtn{
  width: 5em;
  text-align: center;
  color: #272932;
  margin: 10% 5% 0 0;
  padding: 2% 4%;
  border: 2px solid #BBDEF0;
  background-color: #BBDEF0;
}

.navBtn{
  width: 5em;
  text-align: center;
  color: #272932;
  margin-top: 10%;
  padding: 2% 4%;
  border: 2px solid #BBDEF0;
  background-color: #BBDEF0;
}

/* Chore page */
.underline{
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/*Add Chore Page*/
.choreName{
  margin: 5% 0 2% 0;
}

.dropdown{
  background: white;
}

.buttonSubmit{
  width: 10em;
  color: #272932;
  margin: 10% 0;
  padding: 2% 0%;
  border: 2px solid #BBDEF0;
  background-color: #BBDEF0;
}
